{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"printWidth": 120,
	"vueIndentScriptAndStyle": true,
	"htmlWhitespaceSensitivity": "ignore"
}
